# Ignore Python cache and virtual environments and secrets
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.evn_example

# Ignore logs and temporary files
*.log
logs/
tmp/
*.swp

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.evn_example
.gitignore
api_test.py
.github/