CREATE DEFINER=`csihub`@`%` PROCEDURE `sp_accessible_employees`(
  IN p_accessor_id INT UNSIGNED,
  IN p_company_id INT UNSIGNED
)
BEGIN
  -- (1) SELF scope
  SELECT
    p_accessor_id                                                 AS accessorId,
    e.id                                                           AS employeeId,
    e.companyId,
    'self'                                                         AS accessReason
  FROM employees e
  WHERE e.id = p_accessor_id
    AND e.deletedAt IS NULL

  UNION

  -- (2) ADMIN scope ù every active employee in the same company, if the
  -- current user's role has isForAdmin = 1 in hcmatrix-authentication-db.roles
  SELECT
    p_accessor_id                                                 AS accessorId,
    e.id                                                           AS employeeId,
    e.companyId,
    'admin_scope'                                                  AS accessReason
  FROM employees e
  WHERE e.companyId = p_company_id
    AND e.deletedAt IS NULL
    AND e.id <> p_accessor_id
    AND EXISTS (
      SELECT 1
      FROM employees me
        LEFT JOIN `hcmatrix-authentication-db`.`roles` r ON r.id = me.roleId
      WHERE me.id = p_accessor_id
        AND COALESCE(r.isForAdmin, 0) = 1
    )

  UNION

  -- (3) LINE-MANAGER scope (recursive sub-tree via v_reporting_tree)
  SELECT
    p_accessor_id                                                 AS accessorId,
    rt.employeeId,
    e2.companyId,
    'line_manager_scope'                                           AS accessReason
  FROM v_reporting_tree rt
    JOIN employees e2 ON e2.id = rt.employeeId AND e2.deletedAt IS NULL
  WHERE rt.rootManagerId = p_accessor_id

  UNION

  -- (4) HOD scope (department + child departments, via the designations chain)
  SELECT
    p_accessor_id                                                 AS accessorId,
    e3.id                                                          AS employeeId,
    e3.companyId,
    'hod_scope'                                                    AS accessReason
  FROM v_department_tree dt
    JOIN designations d ON d.departmentId = dt.departmentId
    JOIN employees e3 ON e3.designationId = d.id AND e3.deletedAt IS NULL
  WHERE dt.rootDepartmentId IN (
    SELECT id FROM departments
    WHERE departmentHeadId = p_accessor_id
      AND deletedAt IS NULL
      AND companyId = p_company_id
  )
  AND e3.id <> p_accessor_id;
END
